/.vscode
/bin
/obj
/AI Models/Whisper/*.bin
/AI Models/onnx/cpu/*.onnx
/AI Models/onnx/cpu/*.data
/AI Models/onnx/cuda/*.onnx
/AI Models/onnx/cuda/*.data
/AI Models/onnx/directml/*.onnx
/AI Models/onnx/directml/*.data