.cursor/**/*
*.sln
/.vscode
/bin
/obj
/AI Models/Whisper/*.bin
/AI Models/text/onnx/cpu/*.onnx
/AI Models/text/onnx/cpu/*.data
/AI Models/text/onnx/cuda/*.onnx
/AI Models/text/onnx/cuda/*.data
/AI Models/text/onnx/directml/*.onnx
/AI Models/text/onnx/directml/*.data